name: Deploy Front

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Build React App
      run: |
        npm install
        npm run build

    - name: Prepare Web Directory
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo rm -rf /var/www/trackon-web
          sudo mkdir -p /var/www/trackon-web
          sudo chown -R ec2-user:ec2-user /var/www/trackon-web

    - name: Upload Build Files (Correct Structure)
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        source: "build/**"
        strip_components: 1
        target: "/var/www/trackon-web/"

    - name: Finalize & Restart Nginx
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo chown -R nginx:nginx /var/www/trackon-web
          sudo chmod -R 755 /var/www/trackon-web
          sudo systemctl restart nginx
          echo "Frontend atualizado com sucesso!"
